.grid-image {
    width: 250px;
    height: 150px;
}

.brand-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
    justify-content: center;
    align-content: center;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.brand {
    text-align: center;
    background-color: rgba(4,5,7,255);
    padding-bottom: 80px;
    padding-top: 30px;
    color: white;
}

.grid-item {
    background-color: white;
    height: 150px;
}

.bcc {
    display: flex;
    justify-content: center;
}

.top-brands {
    padding-bottom: 30px;
}
