.phone {
    font-size: 20px;
}

.email {
    font-size: 20px;
}

.social {
    font-size: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1250px;
    background-color: rgba(1,1,1,255);
    padding-top: 40px;
    padding-bottom: 40px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
}

.facebook {
    font-size: 42px;
    margin-top: -1px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}

.instagram:hover {
    cursor: pointer;
    color: red;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.facebook:hover {
    cursor: pointer;
    color: red;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.whole-contact {
    position: absolute;
    color: white;
    width: 100%;
}

.explore {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.about {
    width: 340px;
}

.footLogo {
    width: 300px;
    margin-top: -65px; 
    filter: invert(100%);
}

.fill-out-form {
    width: 340px;
    font-size: 20px;
}

.abt-div {
    width: 340px;
    font-size: 20px;
}

.contact {
    width: 340px;
    font-size: 20px;
}

.contact-head {
    font-size: 30px;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
}

.contact-links {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-top: 6px;
}

.contact-links:hover {
    color: red;
    text-decoration: underline;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.email-link {
    color: white;
    text-decoration: none;
}

.number-link {
    color: white;
    text-decoration: none;
}

.email-link:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.number-link:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.fotf {
    color: white;
    text-decoration: none;
}

.fotf:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1240px) {
}

@media screen and (max-width: 1175px) {
    .contact-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .contact {
        padding-top: 80px;
    }
}

@media screen and (max-width: 1060px) {

}

@media screen and (max-width: 950px) {

}

@media screen and (max-width: 870px) {
    .contact-container {
        display: grid;
        grid-template-columns: auto;
    }

    .contact {
        padding-top: 40px;
    }

    .explore {
        padding-top: 40px;
    }

    .about {
        padding-top: 40px;
    }
}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 380px) {

}