.ro-cuo {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
}

.ro-cuo-div {
    text-align: center;
    font-size: 20px;
}

.phone {
    font-size: 20px;
}

.email {
    font-size: 20px;
}

.social {
    font-size: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.instagram {
    font-size: 30px;
}

.facebook {
    font-size: 36px;
    margin-top: -1px;
}

.whole-contact {
    position: absolute;
    bottom: -4500px;
    
}