.header-container {
    background-image: url(header6.jpg);
    background-size: contain;
    height: 127vh;
    color: black;
    margin-top: 31px;
    display: flex;
    justify-content: center;
}

.a2g {
    font-size: 160px;
    text-align: center;
}

.a2g-container {
    padding-top: 100px;
    /* margin-left: 50px; */
    color: whitesmoke;
    width: 1200px;
}

.leading {
    font-size: 80px;
    text-align: center;
    font-weight: 700;
}

.button-group {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.button-div {
    padding: 14px;
}

.btn {
    font-size: 25px;
}