.header-container {
    background-image: url(header10.jpg);
    background-size: contain;
    /* height: 120vh; */
    /* width: 100%; */
    height: 140vh;
    color: black;
    margin-top: 95px;
}

.a2g {
    font-size: 180px;
    text-align: center;
}

.a2g-container {
    padding-top: 40px;
    /* padding-right: 120px; */
    color: white;
}

.leading {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}