.sliderimg{
    height: 460px;
    width: 400px;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.carousel-container {
    color: white;
    background-color: rgba(1,1,1,255);
}

.ri {
    font-size: 55px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}