.sliderimg{
    height: 460px;
    width: 400px;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.carousel-container {
    color: white;
    background-color: rgba(1,1,1,255);
}

.ri {
    font-size: 55px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media screen and (max-width: 1950px) {
    .sliderimg{
        height: 500px;
        width: 440px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 1800px) {
    .sliderimg{
        height: 500px;
        width: 440px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 1455px) {
    .sliderimg{
        height: 500px;
        width: 440px;
        margin-left: -33px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .sliderimg{
        height: 500px;
        width: 440px;
        margin-left: -50px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1400px) {
    .sliderimg{
        height: 400px;
        width: 350px;
        margin-left: -5px;
    }
}

@media screen and (max-width: 1250px) {
    .sliderimg{
        height: 370px;
        width: 320px;
        margin-left: -15px;
    }
}

@media screen and (max-width: 1160px) {
    .sliderimg{
        height: 370px;
        width: 320px;
    }
}

@media screen and (max-width: 800px) {
    .sliderimg{
        height: 350px;
        width: 270px;
        margin-left: -9px;
    }
}

@media screen and (max-width: 768px) {
    .sliderimg{
        height: 350px;
        width: 270px;
        margin-left: -10px;
    }
}

@media screen and (max-width: 414px) {
    .sliderimg{
        height: 350px;
        width: 270px;
        margin-left: -30px;
    }

    .ri {
        font-size: 45px;
    }
}

@media screen and (max-width: 375px) {
    .sliderimg{
        height: 350px;
        width: 270px;
        margin-left: -50px;
    }
}

@media screen and (max-width: 360px) {
    .sliderimg{
        height: 330px;
        width: 280px;
        margin-left: -50px;
    }
}
