.auto:hover {
    color: red;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.marine:hover {
    color: red;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
} */

.photo {
    width: 280px;
    padding: 5px;
    height: 200px;
}

.images {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

.text {
    text-align: center;
    width: 280px;
}

.marine {
    left: 560px;
    font-weight: 600;
    font-size: 30px;
    justify-content: center;
    text-align: center;

}

.auto {
    left: 800px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.home {
    left: 150px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.os {
    font-size: 55px;
    text-align: center;
    padding-top: 35px;
}

.services-container {
    background-color: white;
    color: black;
    margin-top: -240px;
    padding-bottom: 50px;
}

.home:hover {
    color: red;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.auto:hover {
    color: red;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.marine:hover {
    color: red;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

@media screen and (max-width: 1400px) {
    .marine {
        left: 640px;
    
    }
    
    .auto {
        left: 880px;
    }
    
    .home {
        left: 230px;
    }
}

@media screen and (max-width: 1350px) {
    .marine {
        left: 615px;
    
    }
    
    .auto {
        left: 855px;
    }
    
    .home {
        left: 205px;
    }
}

@media screen and (max-width: 1300px) {
    .marine {
        left: 590px;
    
    }
    
    .auto {
        left: 830px;
    }
    
    .home {
        left: 180px;
    }
}

@media screen and (max-width: 1240px) {
    .marine {
        left: 560px;
    
    }
    
    .auto {
        left: 800px;
    }
    
    .home {
        left: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .marine {
        left: 540px;
    
    }
    
    .auto {
        left: 780px;
    }
    
    .home {
        left: 130px;
    }
}

@media screen and (max-width: 1150px) {
    .marine {
        left: 520px;
    
    }
    
    .auto {
        left: 760px;
    }
    
    .home {
        left: 110px;
    }
} 

@media screen and (max-width: 1122px) {
    .images {
        display: grid;
        grid-template-columns: auto auto;
    }

    .links-cont {
        display: flex;
        justify-content: center;
    }

    .marine {
        left: 515px;
    }
    
    .auto {
        left: 720px;
    }
    
    .home {
        left: 160px;
    }

    .h2-marine {
        font-size: 28px;
    }
    
    .h2-auto {
        font-size: 28px;
    }
    
    .h2-home {
        font-size: 28px;
    }
}

@media screen and (max-width: 572px) {
    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
